.floating-add-button{
    background-color: #D9AE5F;
    border: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border-radius: 50%;
}

.em-cima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.search-input{
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    padding: 1rem;
}

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 0.5rem;
}

.em-baixo{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}