/* src/components/CarFilters/index.css */

.filter-lateral {
  width: 15rem;
  margin-right: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-lateral h3 {
  font-size: 1.2rem;
  color: #173F73;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.filter-section-lateral {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.filter-section-lateral h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.filter-section-lateral label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  white-space: nowrap; /* Impede quebra de texto */
}

.filter-section-lateral input[type="checkbox"],
.filter-section-lateral input[type="radio"] {
  margin: 0;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.apply-button-filtro {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #4B4737;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.apply-button-filtro:hover {
  background-color: #555;
}

.clear-button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #b22222;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.clear-button:hover {
  background-color: #8b0000;
}
