@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.sobre-nos-page {
    font-family: "Poppins", sans-serif;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
}

.sobre-nos-page h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.banner-section {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

/* Overlay cobrindo toda a imagem */
.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme desejado */
    z-index: 1;
}

.banner-text {
    position: relative;
    z-index: 2; /* Para garantir que o texto fique acima do overlay */
    padding: 2rem;
    border-radius: 8px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
}
/* Estilos da seção do CEO */
.ceo-section {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    max-width: 1200px;
    margin: 4rem auto;
    color: #333;
}

.ceo-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ceo-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}

.ceo-message {
    font-size: 1.6rem;
    line-height: 1.3;
    color: #333;
    margin: 2rem;
}

.ceo-name {
    font-size: 1.2rem;
    color: #666;
}

.ceo-name strong {
    font-size: 1.3rem;
    color: #333;
}

/* Estilos da linha do tempo */
.timeline-section {
    background: linear-gradient(0deg,#1d4c75,#4881b4);
    color: black; /* Ajuste a cor do texto para branco */
    padding: 4rem 2rem; /* Ajuste o padding conforme necessário */
    text-align: center;
    margin: 7rem 0;
}

.timeline-section h2 {
    color: #fff; /* Certifique-se de que o título seja legível */
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
}

.timeline-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    overflow-x: auto; /* Rolagem horizontal */
    scroll-snap-type: x mandatory; /* Travamento de rolagem */
    padding: 2rem;
    scrollbar-width: none; /* Firefox */
}

.timeline-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.timeline-item {
    flex: 0 0 auto; /* Garante que os itens não encolham */
    scroll-snap-align: start; /* Alinhamento de travamento */
    background-color: #f0f0f0;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    text-align: center;
    position: relative;
    padding: 1rem;
}

.timeline-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.timeline-year {
    font-size: 2rem;
    color: #333;
}

.timeline-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(74%) sepia(84%) saturate(3338%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

/* Estilos da seção dos objetivos */
.sections-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 4rem auto;
}

.objetivos-carrossel {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 4rem auto;
    overflow: hidden;
    text-align: center;
}

.objetivo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 25rem;
}

.objetivo-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 1rem;
    color: #007bff; /* Ajuste a cor conforme necessário */
}

.objetivo-header {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.objetivo-content {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    max-width: 20rem;
}



.objetivo-icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(2800%) hue-rotate(180deg) brightness(100%) contrast(103%);
}

.h2-NO {
    color: #ffffff;
}



/* Responsividade para telas menores */
@media (max-width: 768px) {

    .objetivos-carrossel {
        flex-direction: column;
        align-items: center;
    }


    .objetivo-section {
        max-width: 90%;
    }

    .sections-container {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-section {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .timeline-container {
        padding: 1rem;
        gap: 0.5rem; /* Ajuste o gap para telas muito pequenas */
    }

    .banner-section {
        height: 60vh;
    }

    .banner-text h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .ceo-section {
        padding: 1rem;
    }

    .ceo-image img {
        max-width: 90vw;
    }

    .ceo-message {
        font-size: 1rem;
        line-height: 1.4;
    }

    .sections-container {
        gap: 1rem; /* Ajuste do espaçamento entre os objetivos */
    }

    .dropdown-section {
        max-width: 250px; /* Ajuste a largura dos objetivos para caber melhor em telas menores */
    }
}
