/* src/pages/MinhasReservas/MinhasReservas.css */

.header-image {
  background-image: url('/src/assets/background-image.png'); /* Caminho da sua imagem */
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 20px;
  color: white;
  text-align: center;
  overflow: hidden;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Filtro escuro com 50% de opacidade */
  z-index: 1;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 2; /* Para garantir que o texto fique sobre o overlay */
}

.sort-button {
  margin: 20px 0; /* Adiciona margem acima e abaixo para espaçamento */
  padding: 10px 20px;
  background-color: #092640;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.sort-button:hover {
  background-color: #194973;
}

.reservas-table-container {
  margin: 0 auto; /* Centraliza a tabela */
  max-width: 90%; /* Margem nas laterais para limitar a largura */
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra à tabela */
  margin-top: 20px; /* Espaço entre o botão de ordenação e a tabela */
}

.reservas-table {
  width: 100%;
  border-collapse: collapse;
}

.reservas-table th,
.reservas-table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  text-align: left;
}

.reservas-table th {
  background-color: #f3f3f3;
  color: #092640;
  font-weight: bold;
}

.reservas-table tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.cancel-button {
  padding: 0.2rem 0.4rem;
  background: none;
  color: #b22222;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.cancel-button:hover {
  text-decoration: underline;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #092640;
}

.modal-close:hover {
  color: #173F73;
}

.modal-title {
  color: #173F73;
  margin-bottom: 1rem;
}

.modal-content p {
  margin: 0.5rem 0;
  color: #092640;
}
