/* src/pages/RegisterClientePage/index.css */
.form-container {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
  background-color: #ececec;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.genero{
  width: 48%; /* Define a largura do campo de gênero */
  height: 2.5rem; /* Define a altura para combinar com os outros campos */
  line-height: 2.5rem; /* Alinha o texto verticalmente */
  padding: 0 0.5rem; /* Ajusta o padding interno */
  font-size: 1rem; /* Tamanho da fonte consistente */
  /* appearance: none; */
  /* -webkit-appearance: none; Remove estilo padrão no Safari */
  /* -moz-appearance: none; Remove estilo padrão no Firefox */
  background-color: white;
  margin-top: 3.6%;
  border: 1px solid #ccc;
  /* margin:3rem auto; */
  border-radius: 0.3rem;
  cursor: pointer;

}

.input-cep, .genero{
  width: 48%;

}

.input-row-cepgen{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.ativo{
  background-color: #e6ad42 !important;
  color: #000;
  font-weight: bold;
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd; /* Adiciona uma borda leve nas abas */
  border-radius: 0.3rem 0.3rem 0 0; /* Arredonda a parte superior das abas */
  color: #000;
  cursor: pointer;
}
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem; /* Aumenta o espaço entre as abas e o formulário */
}
.nao-ativo{
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd; /* Adiciona uma borda leve nas abas */
  border-radius: 0.3rem 0.3rem 0 0; /* Arredonda a parte superior das abas */
  background-color: white !important;
  color: #000;
  cursor: pointer;
}
.nao-ativo:hover{
  background-color: #c0c0c0;
  font-weight: bold;
}

.input-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-row input,
.dropdown-trigger {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #e0e0e0; /* Botão cinza claro */
  color: #000;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c0c0c0;
}


.error {
  color: red;
  margin-top: 0.5rem;
}

@media (min-width: 40rem) {
  .form-container {
      padding: 2.5rem;
  }
  .input-row {
      flex-direction: row;
  }

  .input-cep{
    max-width: 100%;
  }

  .genero{
    margin-top: 1.8%;
    height: 2.5rem;
    width: 49%;
    /* margin-right: 1%; */
  }

  .input-row-cepgen{
    gap: 1.rem
  }
}
