/* src/pages/RegisterClientePage/index.css */
.form-container {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
  background-color: #ececec;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.genero-cliente {
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  width: 48%; /* Alinha com o campo CEP */
  height: 2.5rem; /* Define altura padrão */
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.input-cep {
  width: 100%; /* Alinha com o campo Gênero */
  height: 2.5rem; /* Define altura padrão para consistência */
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.input-row-cepgen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.ativo {
  background-color: #e6ad42 !important;
  color: #000;
  font-weight: bold;
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem 0.3rem 0 0;
  cursor: pointer;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.nao-ativo {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: white !important;
  color: #000;
  cursor: pointer;
}

.nao-ativo:hover {
  background-color: #c0c0c0;
  font-weight: bold;
}

.input-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-row input,
.dropdown-trigger {
  width: 100%;
  height: 2.5rem; /* Define altura padrão para todos os campos */
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #e0e0e0;
  color: #000;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c0c0c0;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

