/* src/pages/RegisterClientePage/index.css */
.form-container {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.ativo{
  background-color: #bf9f23;
  color: #000;
  font-weight: bold;
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd; /* Adiciona uma borda leve nas abas */
  border-radius: 0.3rem 0.3rem 0 0; /* Arredonda a parte superior das abas */
  color: #000;
  cursor: pointer;
}
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem; /* Aumenta o espaço entre as abas e o formulário */
}
.nao-ativo{
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd; /* Adiciona uma borda leve nas abas */
  border-radius: 0.3rem 0.3rem 0 0; /* Arredonda a parte superior das abas */
  background-color: #f0f0f0;
  color: #000;
  cursor: pointer;
}
.nao-ativo:hover{
  background-color: #c0c0c0;
  font-weight: bold;
}

.input-row-cep-genero-funcionario{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-row input,
.dropdown-trigger {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #e0e0e0; /* Botão cinza claro */
  color: #000;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c0c0c0;
}


.error {
  color: red;
  margin-top: 0.5rem;
}

@media (min-width: 40rem) {
  .form-container {
      padding: 2.5rem;
  }
  .input-row {
      flex-direction: row;
  }
}
