/* src/Pages/ProdutosPage/index.css */

.produtos-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Filtro-lateral{
  flex: 0 0 250px; /* Largura fixa para o filtro lateral */
  margin-right: 1rem;
  position: sticky;
  top: 2rem; /* Fixa o filtro na tela enquanto você rola */
  height: fit-content; /* Garante que o filtro não expanda desnecessariamente */
}

.filter-and-cards{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem; /* Espaçamento entre o filtro e os cartões */
  width: 100%; /* Ocupa toda a largura da página */
  margin: 2rem auto; /* Espaçamento automático para centralizar */ 
}


.carros-disponiveis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;
}

.clear-period-filter-button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #2E5373;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-period-filter-button:hover {
  background-color: #1A2E42;
}