/* src/Pages/ProdutosPage/index.css */

.produtos-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-and-cards {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

.carros-disponiveis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  flex: 1;
}

.clear-period-filter-button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-period-filter-button:hover {
  background-color: #0056b3;
}