/* src/pages/Pagamento/PagamentoPage.css */

.pagamento-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.blocos-pagamento{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

h2 {
    color: #173F73;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.resumo-aluguel {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.resumo-aluguel h3 {
    color: #173F73;
    font-size: 1.2rem;
}

.resumo-aluguel p {
    font-size: 0.9rem;
}

.form-pagamento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.form-pagamento h3 {
    font-size: 1.2rem;
    color: #173F73;
    margin-bottom: 1rem;
}

.form-pagamento label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #092640;
}

.form-pagamento input {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.pagar {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #092640;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pagar:hover {
    background-color: #194973;
}

@media (max-width: 768px) {
    .resumo-aluguel, .form-pagamento {
        width: 100%;
    }
}
