/* Estilo básico do header */
.header {
    background-color: #194973;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    max-width: 100%;
    height: 4rem;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
    height: 3rem; /* Define a altura desejada */
    max-width: 100%; /* Garante que a largura respeite a proporção */
    object-fit: contain; /* Garante que a imagem não seja distorcida */
}

.resto{
    display: flex;
    align-items: center;
    flex-direction: row;
}
/* Estilo dos links de navegação */
.nav-header {
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
}

.nav-link, .user-icon {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.falaconosco{
    background-color: transparent;
    border: none;
}

.nav-link:hover {
    color: white; 
}

/* Ícone do usuário */
.user-menu {
    position: relative;
}

.user-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.user-icon-img {
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    transition: transform 0.3s ease;
}

.user-icon-img:hover {
    transform: scale(1.1);
}

/* Estilo do dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 0;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 0.1rem solid #000;
    z-index: 10;
}

.dropdown-item {
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    border: none;
}

.dropdown-item:last-child {
    border-top: 0.1rem solid #000;
}

.dropdown-item:hover {
    background-color: #F8CF2D;
    color: #000;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-header {
        gap: 1rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}
