/* Estilos globais para padronização de fontes */
body {
    font-family: 'Your Font', sans-serif;
}

/* Ajuste da cor da fonte na seção Nossas Principais Características */
.features-section .feature-items .feature-item h3 {
    color: #333; /* Define a cor azul para os títulos */
}

.features-section .feature-items .feature-item p {
    color: #666; /* Define a cor cinza para o texto descritivo */
}

.principal-page {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.25rem;
}

.catalog-section, .services-section, .features-section, .values-section {
    margin-bottom: 2.5rem;
}

.catalog-section h2, .car-display-section h2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Your Font', sans-serif;
    color: #194973;
    margin-bottom: 1.5rem;
}

/* Nossos Serviços */
.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.car-with-background {
    position: relative;
    flex: 1;
    max-width: 22.5rem;
    min-width: 16rem;
}

.background-image {
    width: 100%;
}

.car-image {
    position: absolute;
    top: 10%; /* Ajusta o espaçamento da imagem */
    left: 10%;
    width: 87.5%; /* Aumenta o tamanho da imagem em 25% */
    z-index: 1;
}

.buttons-and-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;
    max-width: 18rem;
    min-width: 12rem;
}

.services-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1d4c75;
    margin-bottom: 1.5rem;
    font-family: 'Your Font', sans-serif;
}

.button-with-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.oval-button {
    background: none;
    border: none;
    cursor: pointer;
}

.oval-button img {
    width: 2.5rem;
    height: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    font-family: 'Your Font', sans-serif;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    font-family: 'Your Font', sans-serif;
}

.description {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
    font-family: 'Your Font', sans-serif;
}

/* Nossas Principais Características */
.features-section .feature-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.feature-item {
    text-align: center;
    width: 30%;
    max-width: 15.625rem;
    font-family: 'Your Font', sans-serif;
}

.feature-item img {
    width: 3.75rem;
    height: auto;
    margin-bottom: 0.625rem;
}

/* Nossos Valores */
.values-section {
    text-align: center;
    margin-top: 3rem;
}

.values-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    font-family: 'Your Font', sans-serif;
}

.values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.value-item-top {
    text-align: center;
    max-width: 600px;
    margin-bottom: 2rem;
}

.value-item-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 3rem;
    flex-wrap: wrap;
}

.value-item {
    flex: 1;
    min-width: 250px;
    text-align: left;
    font-family: 'Your Font', sans-serif;
}

.value-item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
}

.value-item p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin: 0;
    text-align: center;
}

/* Responsividade */
@media (max-width: 1024px) {
    .services-container {
        gap: 1rem;
        justify-content: center;
    }

    .car-with-background {
        width: 50%;
        max-width: 18rem;
        min-width: 12rem;
    }

    .buttons-and-text {
        align-items: center;
        max-width: 18rem;
        text-align: center;
    }

    .services-title {
        text-align: center;
        font-size: 1.6rem;
    }

    .button-with-text {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .car-with-background {
        width: 70%;
        max-width: 15rem;
    }

    .buttons-and-text {
        align-items: center;
    }
    
    .values-content {
        align-items: center;
    }

    .value-item-row {
        flex-direction: column;
        align-items: center;
    }

    .fleet-button {
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .car-with-background {
        width: 80%;
        max-width: 15rem;
    }

    .button-with-text {
        flex-direction: column;
        align-items: center;
    }

    .catalog-section h2,
    .services-title,
    .values-title {
        font-size: 1.8rem;
    }

    .feature-item {
        width: 100%;
    }

    .values-section {
        text-align: center;
        padding: 1rem;
    }

    .value-item {
        min-width: unset;
        max-width: 100%;
        text-align: center;
    }

    .fleet-button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}

/* Estilos adicionais para a seção de exibição de carros */
.car-display-section {
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: 'Your Font', sans-serif;
}

.car-display-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.fleet-button {
    background-color: #194973;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-family: 'Your Font', sans-serif;
    transition: background-color 0.3s ease;
}

.fleet-button:hover {
    background-color: #092640;
}
