.banner {
    position: relative;
    width: 100vw; /* Ocupa toda a largura da viewport */
    height: 50vh; /* Define uma altura mais responsiva */
    background-image: url('../../../assets/bannerimg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.banner-content {
    background: rgba(0, 0, 0, 0.5); /* Sobreposição escura */
    padding: 1.5rem;
    border-radius: 8px;
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .banner {
        height: 40vh; /* Reduz a altura em telas menores */
    }

    .banner h1 {
        font-size: 2rem; /* Reduz o tamanho da fonte em telas menores */
    }
}

@media (max-width: 480px) {
    .banner {
        height: 35vh; /* Ajusta ainda mais a altura para telas muito pequenas */
    }

    .banner h1 {
        font-size: 1.8rem; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }
}
