.home-container {
    width: 90%;
    max-width: 25rem;
    margin: 3rem auto;
    text-align: center;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  

  
  
  
  /* Estilos responsivos */
  @media (min-width: 40rem) {
    .home-container {
      padding: 2.5rem;
    }
  }
  