.lembretes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/* Estilos para o Filtro */
.filter-container {
  padding: .8rem;
  margin-bottom: .4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-radius: 5px;
  background-color: #092640;
  margin-right: ;
}

.input-filtro-lembrete {
  padding: 10px;
  margin: 1rem 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.filter-container input[type="text"]:focus,
.filter-container select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
/* Banner da Empresa */
.banner-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
  z-index: 1; /* Coloca o fundo acima da imagem */
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Coloca a imagem abaixo do fundo */
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2; /* Coloca o texto acima do fundo */
  color: #fff; /* Cor do texto para melhor contraste */
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.select-form-container-lembretes{
  max-width: 45%;

}

.input-form-container-lembretes{
  max-width: 45%;

}


.div-form-container-lembretes{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3rem;
}

/* Título de Lembretes */
.lembretes-title {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  color: #173F73;
}

/* Layout Responsivo */

.table-container{
  border: 1px solid #ddd;
  border-radius: .3rem;
  overflow: scroll; /* Importante para que a borda apareça arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  max-width: 100%;
}

/* Tabela */
.lembretes-table {
  width: 100%;
  border-collapse: collapse;
  
  font-family: Arial, sans-serif;
  overflow: auto;
}

.lembretes-table th,
.lembretes-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.lembretes-table th {
  background-color: #173F73;
  color: #ecf0f1;
  font-weight: bold;
}

.lembretes-table td {
  background-color: white;
}

.lembretes-table tr:hover {
  background-color: #d1e7fd;
}

/* Formulário */

.form-container-lembretes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  width: 100%;
  margin: 1rem auto;
}


.filtro-lembretes-content {
  max-width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem; /* Reduzido para ajustar o tamanho da aba */
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 2px solid #092640; /* Borda inferior para integrar ao container */
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna */
  color: #3498db;
  font-size: 1.25rem;
  font-weight: bold;
  position: relative;
  top: 2px; /* Ajuste de posição para alinhar com o container */
}



.form-container-lembretes input[type="text"],
.form-container-lembretes textarea,
.form-container-lembretes select,
.form-container-lembretes input[type="date"]{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
}



.form-container-lembretes button[type="submit"] {
  width: 20rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  background-color: #D9AE5F;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.div-form-container-lembretes-buttom{
  display: flex;
  justify-content: center;
}

.form-container-lembretes button[type="submit"]:hover {
  background-color: #bf9546;
  width: 20rem;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
}

.modal-content p {
  margin: 10px 0;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #2980b9;
}

.content-lembretes{
  display: flex;
  flex-direction: column;
  align-items: center;
}
