/* src/pages/ResumoAluguel/ResumoAluguel.css */

.resumo-aluguel-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.header-etapas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #173F73;
    margin-bottom: 1rem;
}
.atual{
    color: #D9AE5F;
}
.resumo-aluguel-1 {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.detalhes-carro {
    max-width: 50%;
}

.imagem-carro {
    width: 100%;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.informacoes-retirada {
    padding: 1rem 0rem;
    font-size: 0.9rem;
}
.informacoes-retirada:first-child{
    border-bottom: 1px solid #000000;
}

.informacoes-retirada h3 {
    font-weight: bold;
    color: #194973;
    margin-bottom: 0.5rem;
}

.detalhes-preco {
    flex: 1;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #092640;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.detalhes-preco h3 {
    font-weight: bold;
    color: #173F73;
    margin-bottom: 1rem;
}

.detalhes-preco p {
    margin: 0.5rem 0;
}

.detalhes-preco button {
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #092640;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.detalhes-preco button:hover {
    background-color: #194973;
}

@media (max-width: 850px) {
    .resumo-aluguel-1 {
        flex-direction: column;
        align-items: center;
    }
    .detalhes-carro, .detalhes-preco {
        max-width: 80%;
    }
    .header-etapas {
        font-size: 0.8rem;
    }
    .titulo-carro {
        font-size: 1.2rem;
    }
}
